* {
    margin: 0;
    padding: 0;
  }
  .ul-class {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px 20px;
    margin-bottom: 30px;
    width: 100%;
    border: solid rgb(206, 194, 194) 2px;
  }

  .header-links ul li {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    position: relative;
  }
  .box-row {
    margin:10px 10px; 
   display: flex;
   justify-content: space-around;
   padding-bottom: 10px;
 }
 .box {
   display: inline-block;
   flex-direction: row;
   padding: 20px 0 30px 0;
   width: 170px;
   background-color: rgba(139, 136, 136, 0.753);
   border-radius: 8px;
   text-align: center;
 }
 .box > p {
    font-weight: bold;    
    font-size: 15px;
    padding:30px 0 20px 0;
  }
  .rules-text {
      display: flex;
      flex-direction: row;
      margin: 0 400px 0 200px;
      padding: 20px 0px 20px 20px;
      border: solid black 1px;
      border-radius: 10px;
  }
 
  .rules-text-heading {
      display: inline-block;
      border-right: solid black 1px;
      margin: 10px;
      padding: 70px 15px 50px 10px;
      font-size: 20px;
  }
  .rules-text-list {
      display:inline-block;
      margin: 50px;
      font-size: 14px;
      line-height: 18px;
    
  }


  @media (max-width: 840px) { 
    html, body{
      overflow-x: hidden;
    }
    body{
      position:relative;
    }
     
    .ul-class {
      display: flex;
      flex-direction: column;
    }
    .box-row {
        display: flex;
        flex-wrap: wrap;
      }
  
      .box {
        box-sizing: border-box;
        width: 80px;
      }
  
      .box > p, a {
        font-size: 10px;
      }

     .rules-text {
      margin: 20px ;
      padding: 0;
      border: solid black 1px;
      border-radius: 10px;
    }
 
  .rules-text-heading {
      display: inline-block;
      border-right: solid black 1px;
      margin: 10px;
      padding: 70px 15px 50px 10px;
      font-size: 16px;
    }
  .rules-text-list {
      display:inline-block;
      font-size: 12px;
      line-height: 15px;
    
    }
  }
  @media (max-width: 300px) {
    html, body{
      overflow-x: hidden;
    }
    body{
      position:relative;
    }
    .rules-text{
      padding:10px;
      margin:15px;
    }
    .rules-text-heading{
      padding:100px 10px 0 10px;
      border-right:solid black 1px;
      margin:0;
     
    }
    
    .rules-text-list {
      display:inline-block;
      font-size: 13px;
      line-height: 15px;
      margin:0 0 0 15px;
    
    }
  }
