* {
    margin: 0;
    padding: 0;
  }
  .ul-class {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px 20px;
    width: 100%;
    border: solid rgb(206, 194, 194) 2px;
  }
  
  .header-links ul li {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    position: relative;
  }
  .box-row {
    margin:10px 10px; 
    display: flex;
    justify-content: space-around;
 }
 .box {
   display: inline-block;
   flex-direction: row;
   padding: 40px 0 30px 0;
   width: 200px;
   background-color: rgba(139, 136, 136, 0.753);
   border-radius: 8px;
   text-align: center;
 }
 .box > p {
   font-weight: bold;    
   font-size: 15px;
   padding:40px 0px 50px 0px;
}
.table-section{
   display:flex;
   margin-top: 40px;
   justify-content:center;
   font-size: 15px;

}
.table, td{
   border:solid black 1px;
}
.table-heading{
    padding:0 100px 0 100px;
    
}
@media (max-width: 1100px) {
    .table-section{
     font-size: 10px;
    }
   .table, td{
      border:solid black 1px;
    }
   .table-heading{
       padding: 0 50px 0px 50px;
    }
}
@media (max-width: 700px) {
    .ul-class {
      display: flex;
      flex-direction: column;
    }
    .box-row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .box {
        box-sizing: border-box;
        width: 100px;
    }
    .box > p, a {
        padding: 30px;
        font-size: 12px;
    }
    .table-heading{
        padding: 0;
    }

}
    
      
   
